<!doctype html>
<html ng-app="toDoListApp">
<head>
        
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
<body ng-controller="ListController">
        
        
        <div class="p-3 mb-2 bg-success text-white">
        <h2>To Do List App</h2>
        </div>
        <!-- input form!-->
        <div class='input-form'>
        <input type='text' ng-model='newTask'/>
        
            <button class="btn btn-primary" ng-click='addTask(newTask)'>Add</button>
            
        </div>
        
        
        <!--ng-repeat will loop through the taskList -->
        <div ng-repeat='task in taskList'>
            
        <!-- An information of a task -->
        <span>{{task.task}}</span>
            
        <!-- A checkbox displaying the progress -->
        <button class="btn btn-danger" ng-click='deleteTask(newTask)'>Delete </button>   
            
        </div>

        <script src="angular.js"></script>
        <script src="app/app.js"></script>
        <script src="app/listController.js"></script>
        
    </body>
</html>
